{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_coursefeedback/survey/page

    Render a collection of questions.

    Example context (json):
{
  "questions": [
    {
      "type_singlechoice": true,
      "type": "singlechoice",
      "surveyitemid": 1,
      "questiontext": "<p>Im Rahmen welches Studiengangs besuchen Sie die Lehrveranstaltung?<\/p>",
      "options": [
        {
          "optiontext": "Bachelor",
          "optionid": "1"
        },
        {
          "optiontext": "Master",
          "optionid": "2"
        }
      ]
    },
    {
      "type_singlechoice": true,
      "type": "singlechoice",
      "surveyitemid": 2,
      "questiontext": "<p>In welchem Fachsemester studieren Sie?<\/p>",
      "options": [
        {
          "optiontext": "1",
          "optionid": "3"
        },
        {
          "optiontext": "2",
          "optionid": "4"
        },
        {
          "optiontext": "3",
          "optionid": "5"
        },
        {
          "optiontext": "4",
          "optionid": "6"
        },
        {
          "optiontext": "5",
          "optionid": "7"
        },
        {
          "optiontext": "6",
          "optionid": "8"
        },
        {
          "optiontext": "7",
          "optionid": "9"
        },
        {
          "optiontext": "8",
          "optionid": "10"
        },
        {
          "optiontext": "9",
          "optionid": "11"
        },
        {
          "optiontext": "10",
          "optionid": "12"
        },
        {
          "optiontext": "&gt;10",
          "optionid": "13"
        }
      ]
    }
  ]
}

}}

{{# items }}
    <div class="mb-5" data-surveyitemid="{{surveyitemid}}">
        {{# type_info }}
            {{{ questiontext }}}
        {{/type_info}}
        {{# type_text }}
            {{> block_coursefeedback/surveyitems/text }}
        {{/ type_text }}
        {{# type_multiplechoice }}
            {{> block_coursefeedback/surveyitems/multiplechoice }}
        {{/ type_multiplechoice }}
        {{# type_singlechoice }}
            {{> block_coursefeedback/surveyitems/singlechoice }}
        {{/ type_singlechoice }}
        {{# type_scalequestion }}
            {{> block_coursefeedback/surveyitems/scalequestion }}
        {{/ type_scalequestion }}
        {{# type_emoji }}
            {{> block_coursefeedback/surveyitems/emoji }}
        {{/ type_emoji }}
        {{# type_slot_choice }}
            {{> block_coursefeedback/surveyitems/slot_choice }}
        {{/ type_slot_choice}}
    </div>
{{/ items }}
