{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_coursefeedback/survey/page

    Render a survey page. The context should be an instance of survey_page.

    Example context (json):
    {
      "items": [
        {
          "type_slot_choice": true,
          "type": "info",
          "surveyitemid": -9223372036854775808,
          "questiontext": "<h6>Please rate the event <q><strong>Vorlesung f\u00fcr Lineare Algebra I<\/strong><\/q>.<\/h6>"
        },
        {
          "type_slot_choice": true,
          "type": "slot_choice",
          "surveyitemid": -3,
          "questiontext": "Which slot did you visit?",
          "required": true,
          "options": [
            {
              "optiontext": "-",
              "optionid": 3
            },
            {
              "optiontext": "2",
              "optionid": 5
            }
          ]
        }
      ],
      "spe_id": 3
    }
}}

<div class="block_coursefeedback-survey-page">
    {{# items }}
        {{# type_info }}
            {{< block_coursefeedback/surveyitems/base }}
                {{$answer_area}}{{/answer_area}}
            {{/ block_coursefeedback/surveyitems/base }}
        {{/type_info}}
        {{# type_text }}
            {{> block_coursefeedback/surveyitems/text }}
        {{/ type_text }}
        {{# type_multiplechoice }}
            {{> block_coursefeedback/surveyitems/multiplechoice }}
        {{/ type_multiplechoice }}
        {{# type_singlechoice }}
            {{> block_coursefeedback/surveyitems/singlechoice }}
        {{/ type_singlechoice }}
        {{# type_scalequestion }}
            {{> block_coursefeedback/surveyitems/scalequestion }}
        {{/ type_scalequestion }}
        {{# type_dropdown }}
            {{> block_coursefeedback/surveyitems/dropdown }}
        {{/ type_dropdown }}
        {{# type_emoji }}
            {{> block_coursefeedback/surveyitems/emoji }}
        {{/ type_emoji }}
        {{# type_slot_choice }}
            {{> block_coursefeedback/surveyitems/slot_choice }}
        {{/ type_slot_choice}}
    {{/ items }}
</div>