/* https://alpinejs.dev/directives/cloak */
[x-cloak] {
    /* stylelint-disable-next-line declaration-no-important */
    display: none !important;
}

.coursefeedback-dnd-item.grabbed {
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    user-select: none;
}

.coursefeedback-custom-content :last-child {
    margin-bottom: 0;
}

.coursefeedback-scale-questiontext {
    flex-basis: 25%;
}

#block_coursefeedback-survey-root span.current-page::before {
    display: inline;
    content: var(--current-page-text);
}

@media (max-width: 767px) {
    .block_coursefeedback-survey .block_coursefeedback-scaleoption {
        max-width: 100%;
        flex-basis: 100%;
    }

    .coursefeedback-small-flex-basis-100 {
        flex-basis: 100%;
    }
}

@media (min-width: 768px) {
    .coursefeedback-no-show-scale {
        /* margin-top: -20px; */
    }
}

.coursefeedback-surveyitem-emoji {
    display: flex;
    gap: .75em;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .btn {
        /* Grow all buttons evenly from 0, ensuring they have the same size when possible. */
        flex-grow: 1;
        flex-basis: 0;
        max-width: 200px;

        .coursefeedback-choice-emoji {
            display: block;
            font-size: 2em;
        }
    }
}

.block_coursefeedback-btn-check {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}

.block_coursefeedback-btn-check:checked + .btn-outline-primary {
    color: #fff;
    background-color: var(--primary, var(--bs-primary));
    border-color: var(--primary, var(--bs-primary));
}

.block_coursefeedback-btn-check:focus + .btn-outline-primary {
    outline: .2rem solid #000102;
}

.block_coursefeedback-course-event-slot-table {
    min-width: var(--bs-breakpoint-lg);

    td {
        vertical-align: middle;
    }

    .btn-link {
        padding: 0;

        .icon {
            margin: 0;
        }
    }

    .action-buttons-column {
        text-align: center;
        max-width: max-content;
    }

    .hidden-preserving-width {
        display: block;
        visibility: hidden;
        height: 0;
    }

    .editing-in-cell {
        display: flex;
        gap: .25rem;

        input[type="text"],
        select {
            /* This will make the input occupy the free space in the cell without causing the cell to become bigger. */
            flex-grow: 1;
            width: 0;

            &:not(:last-child) {
                margin-right: .25rem;
            }
        }
    }

    td:has(.inplaceeditable.inplaceeditingon) {
        vertical-align: initial;
    }

    .inplaceeditable-wrapper:has(.inplaceeditable.inplaceeditingon) {
        display: flex;

        > * {
            /* Prevent the column width from changing when editing. */
            width: 0;
            flex-grow: 1;
            max-width: max-content;

            /* We don't want the row to become massive to accommodate the editor. Instead, we let it overflow. */
            height: 0;
        }
    }

    .inplaceeditable.inplaceeditingon {
        /* Make the overflowing editor look like a popover. */
        background: var(--bs-body-bg);
        padding: .8rem;
        border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color);
        border-radius: var(--bs-border-radius);
        box-shadow: var(--bs-box-shadow);

        /* The autocomplete input uses some important styles (through Bootstrap utility classes) we need to override. */
        /* stylelint-disable declaration-no-important */
        .form-autocomplete-input {
            margin: 0 !important;
        }
        input[type="text"] {
            width: 100% !important;
        }
        /* stylelint-enable */
    }
}
