{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_coursefeedback/surveyitems/scalequestion

    This template renders the display of a scale question.

    Example context (json):
    {
      "type_scalequestion": true,
      "type": "scalequestion",
      "surveyitemid": 4,
      "questiontext": "<p>Mein Zeitaufwand f\u00fcr die Veranstaltung ist im Verh\u00e4ltnis zu den vergebenen Leistungspunkten \/ Credit Points (1CP = 30 Zeitstunden)<\/p>",
      "max_pole": "sehr gut",
      "min_pole": "sehr schlecht",
      "has_na_option": 0,
      "na_option": null,
      "optionamount": "5",
      "options": [
        {
          "id": 1,
          "text": "sehr schlecht"
        },
        {
          "id": 2,
          "text": null
        },
        {
          "id": 3,
          "text": null
        },
        {
          "id": 4,
          "text": null
        },
        {
          "id": 5,
          "text": "sehr gut"
        }
      ],
      "show_scale": false
    }

}}
{{< block_coursefeedback/surveyitems/base }}
    {{$layout}}2-columns{{/layout}}
    {{$extra_classes}}{{#show_scale}}always-show-scale{{/show_scale}}{{/extra_classes}}
    {{$answer_area_content}}
        {{# options }}
            <label class="option-label" for="block_coursefeedback-surveyitem-{{ surveyitemid }}-option-{{id}}"
                   aria-hidden="true">
                {{{ text }}}
            </label>
            {{! We wrap the input in an empty label so the entire cell is clickable. }}
            <label class="option-input-container"
                {{#text}} title="{{text}}" {{/text}}>
                <input class="form-check-input"
                       type="radio"
                       name="surveyitem-{{ surveyitemid }}"
                       value="{{id}}"
                       id="block_coursefeedback-surveyitem-{{ surveyitemid }}-option-{{id}}"
                       aria-label="{{text}}, option {{id}} / {{ optionamount }}">
            </label>
        {{/ options }}
        {{# has_na_option }}
            <label class="option-label" for="block_coursefeedback-surveyitem-{{ surveyitemid }}-option-na"
                   aria-hidden="true">
                {{{ na_option }}}
            </label>
            <label class="option-input-container" title="{{ na_option }}">
                <input class="form-check-input"
                       type="radio"
                       name="surveyitem-{{ surveyitemid }}"
                       value="0"
                       id="block_coursefeedback-surveyitem-{{ surveyitemid }}-option-na"
                       aria-label="{{ na_option }}">
            </label>
        {{/ has_na_option }}
    {{/answer_area_content}}
{{/ block_coursefeedback/surveyitems/base }}
