{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_coursefeedback/course_settings

    Example context (json):
    {
      "starttime_context": {
        "component": "block_coursefeedback",
        "itemtype": "survey_execution_starttime",
        "itemid": 15,
        "displayvalue": "<time datetime=\"1970-01-01T01:00:00+01:00\">1\/01\/70, 01:00<\/time>",
        "value": "1970-01-01T01:00:00+01:00",
        "edithint": "",
        "editlabel": "",
        "editicon": {
          "key": "t\/editstring",
          "component": "moodle",
          "title": ""
        },
        "type": "text",
        "options": "",
        "linkeverything": 1
      },
      "endtime_context": {
        "component": "block_coursefeedback",
        "itemtype": "survey_execution_endtime",
        "itemid": 15,
        "displayvalue": "<time datetime=\"2027-04-01T14:04:53+01:00\">1\/04\/27, 14:04<\/time>",
        "value": "2027-04-01T14:04:53+01:00",
        "edithint": "",
        "editlabel": "",
        "editicon": {
          "key": "t\/editstring",
          "component": "moodle",
          "title": ""
        },
        "type": "text",
        "options": "",
        "linkeverything": 1
      },
      "table_context": {
        "survey_execution": {
          "id": 1
        },
        "course": {
          "id": 1,
          "shortname": "ABCEFG"
        },
        "events": [
          {
            "id": 1,
            "name": "Vorlesung für Lineare Algebra I",
            "type": {
              "name": "Vorlesung"
            },
            "available_event_types": [
              {
                "id": 1,
                "name": "Vorlesung",
                "selected": true
              },
              {
                "id": 2,
                "name": "Übung",
                "selected": false
              }
            ],
            "survey_part_execution": {
              "id": 11,
              "survey_part": {
                "id": 1,
                "name": "Fragebogen Mathematik V"
              },
              "rowspan": 2,
              "first_slot": {
                "id": 111,
                "name": "-",
                "allow_deletion": false,
                "users_editable_context": {}
              },
              "more_slots": []
            },
            "available_survey_parts": [
              {
                "id": 1,
                "name": "Fragebogen Mathe VL",
                "selected": true
              }
            ]
          },
          {
            "id": 2,
            "name": "Übung für Lineare Algebra I",
            "type": {
              "name": "Übung"
            },
            "available_event_types": [
              {
                "id": 1,
                "name": "Vorlesung",
                "selected": false
              },
              {
                "id": 2,
                "name": "Übung",
                "selected": true
              }
            ],
            "survey_part_execution": {
              "id": 21,
              "survey_part": {
                "id": 2,
                "name": "Fragebogen Mathematik Ü"
              },
              "rowspan": 4,
              "first_slot": {
                "id": 211,
                "name": "Mo 12-14 Uhr",
                "allow_deletion": true,
                "users_editable_context": {}
              },
              "more_slots": [
                {
                  "id": 212,
                  "name": "Do 14-16 Uhr",
                  "allow_deletion": true,
                  "users_editable_context": {}
                },
                {
                  "id": 213,
                  "name": "Fr 10-12 Uhr",
                  "allow_deletion": true,
                  "users_editable_context": {}
                }
              ]
            },
            "available_survey_parts": [
              {
                "id": 1,
                "name": "Fragebogen Mathe VL",
                "selected": true
              }
            ]
          }
        ],
        "available_event_types": [
          {
            "id": 1,
            "name": "Vorlesung"
          },
          {
            "id": 2,
            "name": "Übung"
          }
        ],
        "available_survey_parts": [
          {
            "id": 1,
            "name": "Fragebogen Mathe VL"
          }
        ]
      }
    }
}}

<div>
    {{#str}} survey_execution_period, block_coursefeedback {{/str}}:
    {{# starttime_context }}{{> core/inplace_editable }}{{/starttime_context}}
    &ndash;
    {{# endtime_context }}{{> core/inplace_editable }}{{/endtime_context}}
</div>
<section class="mt-4">
    <h3 class="mb-3">{{#str}} course_event_slot_table_heading, block_coursefeedback {{/str}}</h3>

    {{#table_context}}
        {{>block_coursefeedback/course_event_slot_table}}
    {{/table_context}}
</section>
