{{!
    This file is part of Moodle - https://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_coursefeedback/datetime_from_to

    Formats the blocks 'from' and 'to' using the string datetime_from_to.

    Example context (json):
    {}
}}

{{#str}} datetime_from_to, block_coursefeedback, { "from" : {{#quote}}{{$from}}{{/from}}{{/quote}}, "to" : {{#quote}}{{$to}}{{/to}}{{/quote}} } {{/str}}