{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_coursefeedback/questionnotif_schoolgrades

    This template renders the notification message of a feedback question type schoolgrades.

    Example context (json):
    {
    }

}}
<div class="alert alert-info" id="block_coursefeedback-survey-root">
    <div id="block_coursefeedback-survey-content">
        <div class="mb-3">
            Frage 1
        </div>

        <div class="mb-3">
            Frage 2
        </div>
    </div>
    <div class="d-flex mb-3 justify-content-between">
        <button class="btn btn-secondary" disabled>
            Back
        </button>
        <button class="btn btn-primary">
            Next
        </button>
    </div>
    <div class="progress mb-3" role="progressbar">
        <div class="progress-bar" style="width: calc(100% / 5)"></div>
    </div>
    <div class="d-flex justify-content-around">
        <span>Seite 1 / 5</span>
    </div>
</div>